/* Body color */
body {
    background-color: #262626;
    /* This text is in Monaco */
    font-family: monaco, Consolas, Lucida Console, monospace;
    font-weight: normal;
}

/* Heading 1 (title) color */
h1 {
    color: lightgrey;
    text-align: center;

}

/*h2 {
    color: darkblue;
    text-align: left;
    font-size: 38px;
    margin-top: -.2em;
    margin-bottom: -.6em;
}*/

/* Paragraph color */
p {
    color: lightgrey;

}

p.small {
    line-height: 0.9;
}

p.subheading {
    color: lightblue;
    margin-bottom: -1em;
    margin-top: 0em;
}

p:first-line {
/*    color: red;
    text-indent: -2em;*/
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #808080;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    border: none;
    text-align: left;
/*    text-indent: 15px;*/
    margin-left: 20px;
    margin-right: 20px;
    outline: none;
    font-size: 18px;
    /* This text is in Monaco */
    font-family: monaco, Consolas, Lucida Console, monospace;
    /*font-weight: 700;*/
}

.collapsible::first-line {
    text-indent: 0 !important;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #808080;
}

.content {
    padding: 0;
    display: none;
    overflow: hidden;
    background-color: #808080;
    width: 80%;
    /* This text is in Monaco */
    font-family: monaco, Consolas, Lucida Console, monospace;
    /*    font-weight: 700;*/

    margin-left: 20px;
    margin-right: 20px;
    margin-top: -10px;
/*    text-indent: -1em;*/
    /*    text-indent: 15px;*/
}

.code {
    padding: 0;
    display: none;
    overflow: hidden;
    background-color: #808080;
    width: 80%;
    /* This text is in Monaco */
    font-family: monaco, Consolas, Lucida Console, monospace;
    /*    font-weight: 700;*/

    margin-left: 20px;
    margin-right: 20px;
    margin-top: -10px;
/*    text-indent: 40px;*/
    /*    text-indent: 15px;*/
}


.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 16px;
    float: left;

    /* Unicode text shadow hack */
    color: transparent;
    text-shadow: 0 0 0 black;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.link {
    color: #004d00;
}

a:link {
    text-decoration: none;
}