/* styles not updating in FF: https://stackoverflow.com/a/43063755 */

/* Body color */
body {
    background-color: #262626;
    /* This text is in Monaco */
    font-family: monaco, Consolas, Lucida Console, monospace;
    font-weight: normal;
}

/* Heading 1 (title) color */
h1 {
    color: lightgrey;
    text-align: center;
}

/* Paragraph color */
p {
    color: lightgrey;
}

    p.small {
        line-height: 0.9;
    }

    p.subheading {
        color: lightblue;
        margin-bottom: -1em;
        margin-top: 0em;
    }


/* Image attributes */
img {
    background-size: contain;
    outline: 2px solid black;
    outline-offset: -2px;
}

    img.noborder {
        outline: 0px solid black;
        outline-offset: 0px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    img.math {
        max-width: 80%;
        min-width: 500px;
    }

    img.full {
        width: 100%;
        height: 100%;
    }

.content {
    margin: 20px;
    margin-bottom: 5px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #808080;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: none;
    text-align: left;
    /*text-indent: 15px;*/
    margin-left: 20px;
    margin-right: 20px;
    outline: none;
    font-size: 18px;
    /* This text is in Monaco */
    font-family: monaco, Consolas, Lucida Console, monospace;
    /*font-weight: 700;*/
    text-indent: 10px;
    font-weight: bold;
}

    .collapsible::first-line {
        text-indent: 0 !important;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .collapsible:hover {
        background-color: #808080;
    }

.contentcontainer {
    /* This text is in Monaco */
    font-family: monaco, Consolas, Lucida Console, monospace;
    padding: 0;
    display: none;
    overflow: hidden;
    background-color: #808080;
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -10px;
}

.textcontainer {
    margin: 5px;
    margin-top: -5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    background-color: #666666;
}

.dropdowntext {
    padding: 10px;
}

.contentblack {
    /* This text is in Monaco */
    font-family: monaco, Consolas, Lucida Console, monospace;
    padding: 0;
    display: none;
    overflow: hidden;
    background-color: white;
    width: 80%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -10px;
}

.code {
    padding: 0;
    display: none;
    overflow: hidden;
    background-color: #808080;
    width: 80%;
    font-family: monaco, Consolas, Lucida Console, monospace;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -10px;
}


.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 14px;
    float: left;

    /* Unicode text shadow hack */
    color: transparent;
    text-shadow: 0 0 0 black;
    font-weight: lighter;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

a, a:visited {
    text-decoration: none; /* Modifies default link style - removes underline */
    color: lightgray; /* Modifies default link color */
}

.unorderedlist {
    color: lightgray;
    margin-top: -2em;
    margin-bottom: -1em;
    list-style-type: square;
}

.title {
    color: Gainsboro;
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    display: block
}
